## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")

city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Aykhal,RU,66.0000,111.5000,30.74,97,100,15.12,snow
1,1,Avarua,CK,-21.2078,-159.7750,82.45,74,75,10.36,broken clouds
2,2,Ust-Kuyga,RU,70.0167,135.6000,14.94,84,96,6.78,overcast clouds
3,3,Morondava,MG,-20.2833,44.2833,77.59,92,2,5.95,clear sky
4,4,Tuktoyaktuk,CA,69.4541,-133.0374,0.55,91,51,5.82,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df = preferred_cities_df.dropna()

preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Avarua,CK,-21.2078,-159.7750,82.45,74,75,10.36,broken clouds
3,3,Morondava,MG,-20.2833,44.2833,77.59,92,2,5.95,clear sky
7,7,Georgetown,MY,5.4112,100.3354,89.53,70,20,3.44,few clouds
8,8,Cuamba,MZ,-14.8031,36.5372,65.39,99,15,3.24,few clouds
9,9,Hilo,US,19.7297,-155.0900,73.27,92,100,5.75,moderate rain
10,10,Port Macquarie,AU,-31.4333,152.9167,68.90,75,100,5.23,overcast clouds
13,13,Canberra,AU,-35.2835,149.1281,72.55,53,9,12.66,clear sky
16,16,Mahebourg,MU,-20.4081,57.7000,78.26,88,75,13.80,broken clouds
17,17,Puerto Ayora,EC,-0.7393,-90.3518,75.38,92,71,4.99,broken clouds
18,18,Vaini,TO,-21.2000,-175.2000,84.36,79,75,5.75,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             316
City                   316
Country                316
Lat                    316
Lng                    316
Max Temp               316
Humidity               316
Cloudiness             316
Wind Speed             316
Current Description    316
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(axis="index", how="any")

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""

hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Avarua,CK,82.45,broken clouds,-21.2078,-159.7750,
3,Morondava,MG,77.59,clear sky,-20.2833,44.2833,
7,Georgetown,MY,89.53,few clouds,5.4112,100.3354,
8,Cuamba,MZ,65.39,few clouds,-14.8031,36.5372,
9,Hilo,US,73.27,moderate rain,19.7297,-155.0900,
10,Port Macquarie,AU,68.90,overcast clouds,-31.4333,152.9167,
13,Canberra,AU,72.55,clear sky,-35.2835,149.1281,
16,Mahebourg,MU,78.26,broken clouds,-20.4081,57.7000,
17,Puerto Ayora,EC,75.38,broken clouds,-0.7393,-90.3518,
18,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")

clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Avarua,CK,82.45,broken clouds,-21.2078,-159.7750,Paradise Inn
3,Morondava,MG,77.59,clear sky,-20.2833,44.2833,La Case Bambou
7,Georgetown,MY,89.53,few clouds,5.4112,100.3354,Cititel Penang
8,Cuamba,MZ,65.39,few clouds,-14.8031,36.5372,Hotel Vision
9,Hilo,US,73.27,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Port Macquarie,AU,68.90,overcast clouds,-31.4333,152.9167,Rydges Port Macquarie
13,Canberra,AU,72.55,clear sky,-35.2835,149.1281,Novotel Canberra
16,Mahebourg,MU,78.26,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
17,Puerto Ayora,EC,75.38,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
18,Vaini,TO,84.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))